{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  {% block extra_head %}
  {% endblock %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% tailwind_css %}
</head>

<body class="bg-gray-50 font-serif leading-normal tracking-normal">
{%  include 'navigation.html' %}
<div class="container mx-auto">
  {% block body %}

    {% if messages %}
      <div>
        <strong>Messages:</strong>
        <ul>
          {% for message in messages %}
            <li>{{message}}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% block content %}
    {% endblock %}
  {% endblock %}
  {% block extra_body %}
  {% endblock %}
</div>
</body>
</html>
